body {
    --color-background: #F2F2F2;
    --color-foreground: #111517;
    --box-shadow: 0px 0px 17px 0px rgba(166,166,166,0.75);
    --box-shadow-webkit: 0px 0px 17px 0px rgba(166,166,166,0.75);
    --box-shadow-moz: 0px 0px 17px 0px rgba(166,166,166,0.75);
    --card-background: #FFFFFF;
  }
body.dark {
    --color-background: #202C36;
    --color-foreground: #FFFFFF;
    --card-background: #2B3844;
    --box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    --box-shadow-webkit: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);;
    --box-shadow-moz: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);;
}


.countryCardsSection {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 50px;
    justify-content: center;
    padding: 0px 85px;
    margin-bottom: 50px;
}

.countryCard {
    flex: 0 0 264px;
    width: 100%;
    height: 336px;
    background: var(--card-background);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow-webkit);
    -moz-box-shadow: var(--box-shadow-moz);
    transform: scale3d(1.0, 1.0, 1.0);
    transition: 0.5s ease-in-out all;
}

.countryCard:hover{
    transform: scale3d(1.1, 1.1, 1.1);
    cursor: pointer;
}




.countryInfo > ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.countryInfo > h3 {
    font-size: 1.25em;
}

.countryInfo > ul > li {
    display: inline-block;
    font-weight: lighter;
    font-size: 1em;
}

.countryInfo > ul > li > span {
    font-weight: 600;
}

.countryInfo {
    flex: 0 0 50%;
    padding: 0px 30px;
    
}

.flagImg {
    width: 100%;
    height: 160px;
    object-fit: fill;
}
